<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIRO Code</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
<body>
  <header class="header">
    <img
      class="header__logo"
      src="CIROlogo.png"
      alt="CIRO Code Guide Logo"
    />  
    <h1 class="header__title">CIRO Code: Concept, Rules, and Implementation</h1>
  </header>

  <main class="main">
    <section
      data-hx-trigger="load"
      data-hx-get="ciro.intro.partial.html"
      data-hx-swap="outerHTML"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-get="ciro.structure.partial.html"
      data-hx-swap="outerHTML"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-get="ciro.codes.partial.html"
      data-hx-swap="outerHTML"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-get="ciro.implementation.partial.html"
      data-hx-swap="outerHTML"
    ></section>
  </main>

  <footer class="footer">
    <p class="footer__text">© 2025 CIRO Code Guide</p>
  </footer>
</body>
</div>
</html>
